<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
</head>
<body>
    <h3>Sobre HTML</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eligendi culpa deleniti nisi maiores corrupti. Deleniti recusandae voluptatem quos corporis dolorum molestiae, libero, praesentium, est asperiores facere voluptatum iste consequatur.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nemo ea quidem nisi esse. Ad asperiores sint sapiente hic dolor quisquam odio nisi, laudantium ea aperiam nostrum tempore expedita temporibus?</p>
    <hr/>
        {% for chave, valor in notas.items()%}
            <details>
                <summary>{{chave}}</summary>
                <p>{{valor}}</p>
            </details>
        {% endfor %}
</body>
</html>